article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
  font-size: 62.5%;
}


/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');
@import url('https://use.typekit.net/sop7ryj.css');

h1 {
  font-size: 3rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #2b2d2f;
}

h2{
  font-size: 1.4rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #2b2d2f;
}

h5{
  font-size: 1rem;
  margin:5px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #808080 ;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #808080 ;  
}

header h1 {
  font-size:4rem;
  margin: 0;
  font-family: starling, serif;
  text-transform: lowercase;
  text-align:center;
  color: #fff;
}

.white {
  color:white;
}


/* GLOBAL */

.logo {
  text-transform: lowercase;
  font-family: starling, serif;
  color: #fff;
  font-size: 2rem;
  margin:0;
}

.wrapper{
  margin: 0 auto;
  width: 80%;
  height:100%;
}

button {
  padding:10px 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: all 0.5s;
}

.bLight {
  color: #2b2d2f;
  background-color: transparent;
  
}

.bDark {
  color: #fff;
  background-color: transparent;
}

button.bLight:hover {
  background-color: #2b2d2f;
  color: #fff;
}

button.bDark:hover {
  background-color: #fff;
  color: #2b2d2f;
}

/* NAV */
nav{
  width:100%;
  height: 60px;
  background-color: #2b2d2f;
}

nav .wrapper {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}

/* CART */
.cart{
background-color:white;
position: relative;
top: 200px;
width:300px;
}

.cart ul {
list-style-type: none;
padding:0;
}

.lineItemImage{
  width: 75px;
}

/* HEADER */
header {
  width: 100%;
  height: 60vh;
  background-color: purple;
  background-image: url(./assets/amethyst.jpg);
  background-size: cover;
}

header .wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header .headerContentWrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.productCardImage{
  /* max-width: 200px; */
  width: 100%;
}

.storeList{
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: flex-start;
  align-items: stretch;
}

.productCard{
  width: 22.5%;
  background: #fff;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  margin: 1.25%;
  padding: 0 0 25px 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.productCard:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.productCardCopy{
  display:flex;
  flex-direction:column;
}

.productCardCopy{
  padding: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  /* min-height:125px; */
}

.cardPricing{
  display:flex;
  /* flex-direction:column; */
  align-items: center;
}

.cardPrice {
  margin: 0 5px 0 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.cardTitle{
  text-align:center;
}

/* DETAILS PAGE */

.detailsCard{
  margin: 25px 0;
  display:flex;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.detailsImage {
  /* width: 25%; */
  width:30%;
}

.detailsCopy {
  /* width: calc(100% - 350px); */
  width: 70%;
  padding: 25px;
}

.detailsCard img {
  width: 100%;
  /* width:400px; */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

p.warning {
  text-transform: uppercase;
  font-size: 1rem;
}
